*.userosscache
*.sdf
# to a newer Visual Studio version. Backup files are not needed,
*~
*.dotCover
# Publish Web Output
## Ignore Visual Studio temporary files, build results, and
*.vssscc
TestResult.xml
UpgradeLog*.htm
build/
[Ss]tyle[Cc]op.*
*.obj
DocProject/Help/*.hhp
# Chutzpah Test files
*.opensdf
# MSTest test Results
Generated_Code/
[Tt]est[Rr]esult*/
*.meta
$tf/
# but keep track of directories ending in .cache
*.VisualState.xml
*.mm.*
*.scc
*.sbr
publish/
# DotCover is a Code Coverage Tool
# Others
*.pfx
[Bb]uild[Ll]og.*
[Dd]ebug/
*.pidb
*.tmp_proj
.builds
_Chutzpah*
# except build/, which is used as an MSBuild target.
# Click-Once directory
**/packages/*
x86/
bower_components/
[Ee]xpress/
*.[Rr]e[Ss]harper
x64/
!**/packages/build/
_NCrunch_*
# Uncomment if necessary however generally it will be regenerated when needed
DocProject/Help/*.hhc
!*.[Cc]ache/
# Installshield output folder
*.vsp
DocProject/Help/Html2
*.mdf
# User-specific files
# files ending in .cache can be ignored
# JustCode is a .NET coding add-in
[Dd]ebugPublic/
node_modules/
[Rr]eleasePS/
AppPackages/
DocProject/buildhelp/
*.ncb
# NuGet Packages
[Oo]bj/
*.vspx
*.psess
# TeamCity is a build add-in
# Guidance Automation Toolkit
_ReSharper*/
.JustCode
_TeamCity*
ipch/
# NCrunch
DocProject/Help/html
# because we have git ;-)
[Rr]elease/
# Windows Store app package directory
*.opt
*.dbproj.schemaview
*.pch
*.userprefs
*.pubxml
# Visual Studio 6 workspace options file
*.publishsettings
UpgradeLog*.XML
*.azurePubxml
*.rsp
*.user
*.cachefile
*.publishproj
# User-specific files (MonoDevelop/Xamarin Studio)
*.ilk
*.suo
DocProject/Help/*.hhk
Backup*/
*.plg
# Visual Studio cache files
# DNX
## files generated by popular Visual Studio add-ons.
dlldata.c
# TFS 2012 Local Workspace
# Build Results of an ATL Project
# Visual C++ cache files
~$*
*.tmp
orleans.codegen.cs
# TODO: Comment the next line if you want to checkin your web deploy settings 
# NUNIT
*.[Pp]ublish.xml
*.DotSettings.user
Arrays/Web.config
# Microsoft Fakes
# Windows Azure Build Output
# The packages folder can be ignored because of Package Restore
*.pdb
FakesAssemblies/
AutoTest.Net/
*.sln.docstates
*.vspscc
Arrays/Web.Release.config
*.rdl.data
*.svclog
csx/
DocProject/Help/*.HxC
# DocProject is a documentation generator add-in
# RIA/Silverlight projects
DocProject/Help/*.HxT
*.pgd
[Bb]in/
*.bim_*.settings
bld/
# Node.js Tools for Visual Studio
*.dbmdl
artifacts/
*_i.c
*_i.h
*.ldf
*.[Cc]ache
# Visual Studo 2015 cache/options directory
# Build results
# Business Intelligence projects
.*crunch*.local.xml
# SQL Server files
.vs/
ClientBin/
# Backup & report files from converting an old project file
# MightyMoose
/Arrays/Properties
*.aps
project.lock.json
*.build.csdef
*_p.c
[Dd]ebugPS/
# Visual Studio 6 build log
_UpgradeReport_Files/
*.log
#!**/packages/repositories.config
*.bim.layout
*.tlb
[Rr]eleases/
*.tlh
*.tli
.sass-cache/
.ntvs_analysis.dat
*.gpState
# but database connection strings (with potential passwords) will be unencrypted
*.pgc
Arrays/Web.Debug.config
# Visual Studio profiler
# ReSharper is a .NET coding add-in
*.nupkg
# Web workbench (sass)